body {
  min-height: 100vh;
}

main {
  width: 28vw;
  height: 88vh;
  border-radius: 15px;
}

.register-title {
  text-align: center;
  width: 60%;
  border-bottom: 3px solid white;
}

form {
  width: 100%;
}

input {
  width: 80%;
}

input[type='text'], input[type='email'], input[type='password'] {
  border: none;
  padding: 3px 5px;
  color: white;
  border-bottom: 2px solid white;
  outline: none;
}

#error {
  display: none;
}

@media screen and (max-width: 1430px) {
  main {
    width: 30vw;
    height: 60vh;
    background-color: red;
  }
  #register-link {
    font-size: 0.8rem;
  }
}


@media screen and (max-width: 930px) {
  main {
    width: 60vw;
    height: 65vh;
    background-color: red;
  }
  #register-link {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 580px) {
  main {
    width: 75vw;
  }
}

@media screen and (max-width: 390px) {
  main {
    width: 80vw;
  }
}


@media screen and (min-width: 1400px) {
  main {
    width: 24vw;
    height: 62vh;
  }
  #register-link {
    font-size: 0.8rem;
  }
}

@media screen and (max-height: 550px) {
  body {
    min-height: 120vh;
  }
  main {
    height: 120vh;
  }
}